@{
    ViewData["Title"] = "Home Page";
    //это представление для пользователя аккаунта
 }

<div class = "content">

    <div class = "cover">
        <div class = "user-info">
            <img />
            <div class = "text-info">
                <h2>Admin</h2>
                <p>Аккаунт администратора для тестирования основных функций</p>
                
            </div>
            @{/*if (ViewBag.IsConfirm)*/}
            @if(true)
            {
                <button class = "btn btn-outline-dark add-subscription-button">Запрос на подтверждение аккаунта</button>
            }
            @{/*if (User.Identity.Role == "admin")*/}
            @if(true)
            {
                <form asp-action = "UserTable" asp-controller = "User" method = "get">
                    <button class = "btn btn-outline-dark add-subscription-button">Просмотреть пользователей</button>
                </form>
            }

        </div>        
    </div>


    <div class = "main-info">
        <div class = "full-description">

        </div>

        <div class = "subscriptions">
            <h2>Варианты подписки</h2>
            <div class = "subscriptions-block">
            @for(int i = 0; i<1; i++)   
            {
                <div class = "subscribe-info">
                    <h4>Бесплатно</h4>
                    <img />
                    <p>Доступ к работам по бесплатной подписке</p>
                    <div class = "subscribe-container">
                        0 $                        
                    </div>
                </div>
            }
            @{/*if (ViewBag.IsConfirm)*/}
            @if(true)
            {
                <button class = "btn btn-outline-dark add-subscription-button">Добавить</button>
            }
            else
            {
                @:Подтвердите аккаунт для добавления подписки
            }
            </div>
        </div>

        <div class = "publications"> 
            <div class = "publications-add-work">
                <h2>Ваши последние публикации</h2>
                <button class = "btn btn-outline-dark">Добавить публикацию</button>
            </div>
            <div class = "publications-block">
                Вы не добавляли работы
                @for(int i = 0; i<0; i++)
                {
                    <div class = "publication">
                        <img />
                        <div class = "description-block">
                            <h6>Тема</h6>
                            <p>Описание</p>
                        </div>
                    </div> 
                }
            </div>
        </div>

    </div>
</div>

@{
    /*TODO:
     * Кнопка "Добавить работу"
     * Кнопка "Добавить подписку"
     * Начать прописывать функции для кнопок
     */       
}
