@model ArtSystemApp.ViewModels.AddWorkModel

<form asp-action = "Add" asp-controller = "Work" method = "post" enctype="multipart/form-data>
    <div class = "work-add">
        <h1>Добавить новую работу</h1>
            <div class = "image-description-block">
                <input asp-for = "Image" type = "file" accept = "image/png"/>

                <div class = "work-add-description">
                    <h4>Описание</h4>
                    <textarea class = "form-control" type = "text" cols = "100" maxlength = "255" asp-for = "Description"></textarea>
                </div>
            </div>

            <h4>Название</h4>
            <input asp-for = "Name" class = "form-control"/>
            <h4>Тема</h4>
            <input asp-for = "Theme" class = "form-control"/>
            
            @{/*css flex
             * VIewBag - варианты подписок                 
             * */}
            <div class = "work-add-access">        
               <h3>Варианты доступа</h3>
                    <div class = "subscriptions-block">
                    @foreach(var accs in ViewBag.Accesses)
                    {
                        <div class = "subscribe-info">                 
                                <h4>@accs.Name</h4>                                   
                            <img />
                            <p>@accs.Description</p>
                            <div class = "subscribe-container">
                                @accs.Price $
                                <input class = "button btn btn-outline-dark" id = @accs.Id value = "Выбрать"/>                       
                            </div>
                        </div>
                    }
            
                    @{/*js код - выбрать можно только один вариант, отключать выбранный, включать остальные*/}                    
                    </div>
            </div>
            <div class = "buttons-block">
                <button class = "btn btn-outline-dark">Готово</button>
                <button class = "btn btn-outline-dark">Отмена</button>
            </div>        
    </div>
</form>