
h1{
    margin-bottom: 32px;
}

.buttons-block button {
    margin: 16px 16px 0 0;
}

.subscriptions-block {
    display: flex;
    justify-content: space-between;
}

.subscribe-info{
    border: 2px solid #2f2f2f;
    border-radius: 10px;

    width: 30%;
    height: 20%;
    padding: 10px 20px; 
    margin: 20px;
}

.subscribe-container, .publications-add-work, .name-buttons{
    display: flex;
    justify-content: space-around;
}

.add-subscription-button{
    width: 30%;
    height: 20%;
    padding: 10px 20px;
    margin: 20px;
}

.image-description-block, .buttons-block{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.small-buttons-block {
    display: flex;
    justify-content: flex-end;
}

.buttons-authorization-block {
    display: flex;
    justify-content: center;
}
.buttons-authorization-block button {
    margin: 16px 16px 16px 0;
}




